asgiref==3.7.2
black==24.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Django==3.2.6
django-bootstrap5==22.2
gunicorn==21.2.0
idna==3.6
isort==5.13.2
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.2.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
sqlparse==0.4.4
stripe==8.4.0
tomli==2.0.1
typing_extensions==4.10.0
urllib3==2.2.1
