{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load custom_filters %}
{% block head %}
  <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block content %}
  <h1>Order {{ order }}</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Наименование</th>
        <th scope="col">Описание</th>
        <th scope="col">Цена ({{ order.get_currency }})</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.price|cents_to_dollars }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th scope="row">Сумма</th>
        <td></td>
        <td></td>
        <td>{{ order.get_order_price|cents_to_dollars }}</td>
      </tr>
      {% if order.discount %}
        <tr>
          <th scope="row">Скидка</th>
          <td>{{ order.discount }}</td>
          <td></td>
          <td>{{ order.get_discount_amount|cents_to_dollars }}</td>
        </tr>
      {% endif %}
      {% if order.tax %}
        <tr>
          <th scope="row">Налог</th>
          <td>{{ order.tax }}</td>
          <td></td>
          <td>{{ order.get_tax_amount|cents_to_dollars }}</td>
        </tr>
      {% endif %}
      {% if order.tax or order.discount %}
        <tr>
          <th scope="row">Итого</th>
          <td>с учетом скидок и налогов</td>
          <td></td>
          <td>{{ order.get_final_price|cents_to_dollars }}</td>
        </tr>
      {% endif %}
    </tfoot>
  </table>
  <button id="buy-session-button" class="btn btn-primary">Купить (сессия) </button>
  <a href="{% url 'payments:order-checkout' order.pk %}" id="buy-button" class="btn btn-primary">Купить</a>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
var stripe = Stripe("{{ stripe_pk }}");
var buyButton = document.getElementById("buy-session-button");
buyButton.addEventListener("click", function() {
    fetch("{% url 'payments:order-session-checkout' order.pk %}", {method: "GET"})
    .then(response => { return response.json(); })
    .then(session => stripe.redirectToCheckout({ sessionId: session.session_id }))
    .then(function(result) {
        console.log(result);
        if (result.error) {
            alert(result.error.message);
        } else {
            stripe.redirectToCheckout({ sessionId: result.session_id });
        }
    })
    .catch(error => console.error("Error:", error))
});
</script>
{% endblock scripts %}


