{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block head %}
  <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block content %}
  Order {{ order }}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Наименование</th>
        <th scope="col">Описание</th>
        <th scope="col">Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          {% comment %} <td>{{ forloop.counter }}</td> {% endcomment %}
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.get_display_price }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th scope="row">Сумма</th>
        <td></td>
        <td></td>
        <td>{{ order.get_display_price }}</td>
      </tr>
    </tfoot>
  </table>

  <button id="buy-button" class="btn btn-primary">Купить</button>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var stripe = Stripe('{{ stripe_pk }}')
    var buyButton = document.getElementById('buy-button')
    buyButton.addEventListener('click', function () {
      fetch("{% url 'payments:order-checkout' order.pk %}", { method: 'GET' })
        .then((response) => {
          return response.json()
        })
        .then((session) => stripe.redirectToCheckout({ sessionId: session.session_id }))
        .then(function (result) {
          console.log(result)
          if (result.error) {
            alert(result.error.message)
          } else {
            stripe.redirectToCheckout({ sessionId: result.session_id })
          }
        })
        .catch((error) => console.error('Error:', error))
    })
  </script>
{% endblock %}
